.product-name {
  font-size: 1.3rem;
}
.product-price {
  font-size: 1em;
}
.product-image {
  width: 100%;
  transition: 0.3s ease-in-out;
}
.product-image:hover {
  transition: 0.3s ease-in-out;
  transform: scale(1.1);
}
.sub-header {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 0.25rem;
}

.category {
  text-align: center;
  word-wrap: break-word;
}
.category a:hover {
  color: blue;
}
.category img {
  width: 50px;
}
